@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

/*================== Reset margin and padding ===============*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    font-family: 'Lato', sans-serif;
}

/*================== styling the topics area ==============*/

header {
    max-width: 770px;
    text-align: center;
    margin: auto;
}

header .title {
    margin-bottom: 20px;
    color: #0000CD;
    font-size: 40px;
}

main {
    margin: auto;
}

#topics {
    max-width: 770px;
    background-color: #E6ECF0;
    margin: auto;
    padding: 20px;
}

#topics i {
    font-size: 30px;
}

/* Styling the topic buttons */
#topics button {
    display: block;
    background-color: #fff;
    margin: 10px auto;
    padding: 10px 20px; 
    width: 80%;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    border-radius: 10px;
    border: 5px solid;
    cursor: pointer;
    color: #006666;
    transition: 0.28s ease-in-out;
}

#topics #food {
    border-color: #ff0000;
}

#food i {
    color: #ff0000;
    transition: 0.28s ease-in-out;
}

#food:hover {
    background-color: #900000;
    color: #fff;
}

#food:hover i {
    color: #fff;
}

#topics #inspiration {
    border-color: #FFff66;
}

#inspiration i {
    color: #FFff66;
    transition: 0.28s ease-in-out;
}

#inspiration:hover {
    background-color: #ffcc00;
    color: #fff;
}

#inspiration:hover i {
    color: #fff;
}

#topics #out {
    border-color: #66ff00;
}

#out i {
    color: #66ff00;
    transition: 0.28s ease-in-out;
}

#out:hover {
    background-color: #669900;
    color: #fff;
}

#out:hover i {
    color: #fff;
}

#topics #challenge {
    border-color: #3366ff;
}

#challenge i {
    color: #3366ff;
    transition: 0.28s ease-in-out;
}

#challenge:hover {
    background-color: #330099;
    color: #fff;
}

#challenge:hover i {
    color: #fff;
}

footer {
    max-width: 770px;
    margin: auto;
    padding: 30px;
    text-align: center;
    color: navy;
    font-size: 12px;
}

/* ================= Media queries for responsiveness =============*/
@media screen and (max-width: 500px) { 
    header .title {
        font-size: 30px;
    }

    #topics button {
        font-size: 16px;
    }

    #topics i {
        font-size: 20px;
    }
}